/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body{
    height: 100vh;
    background-color: silver;
}

#container {
    background-color: silver;
    height: 100%;
}

#main-row {
    position: relative;
    background-color: silver;
    height: 100%;
}

/* Inserisco lo stile del container con bottoni e img grande */
#imgButtonContainer {
    border: 2px solid black;
    border-radius: 10px;
    height: 400px;
    width: 800px;
    position: relative;
    padding: 0;
    margin: 0;
}

#imgContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100
}

#bottomButton {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 0;
    z-index: 100;
}

#topButton {
    position: absolute;
    transform: translate(50%, 0%);
    right: 50%;
    bottom: 0;
    z-index: 200;
}

#phraseContainer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    padding-right: 20px;
    z-index: 200;
    color: white;
    font-weight: 500;
    text-align: right;
}


/* Inserisco lo stile per le miniature */
#thumbnailsContainer {
    background-color:whitesmoke;
    border: 2px solid black;
    border-left: 0;
    border-radius: 10px;
    height: 400px;
    width: 200px;
    position: relative;
    padding: 0;
    margin: 0;
}

.thumbnailsImg {
    height: calc(100% / 5);
    width: 100%;
}

.thumbnailsImg img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}


/* Inserisco lo stile per lo scorrimento delle immagini */
.opacityYes {
    opacity: 0.5
}

.opacityNo {
    opacity: 1 !important;
}
.active {
    border: 12px solid steelblue;
}
